#t1{
    border: 1px solid #ccc;
    font-size: 30px;
}
#t2{
    border: 1px solid #ccc;
    font-size: 30px;
}
#t3{
    border: 1px solid #ccc;
    font-size: 30px;
}
#t4{
    border: 1px solid #ccc;
    font-size: 30px;
}
#t5{
    border: 1px solid #ccc;
    font-size: 30px; 
}