/*重置样式*/
html {
    font-size:50px;
    color:#333333;
}
body {
    margin: 0;
}
ul,h1,h2,h3 {
    margin:0;
    padding:0;
}
    

span{
    width: 200px;
    font-size :30px;
    color:#333333;

}
ul {
   list-style: none;

}
a {
    columns: #333333;
}
.wrapper {
    width:1200px;
    margin: 0 auto;
    background-color: pink;

}
/*快捷导航*/
.fast_nav {
    border-top: 5px solid brown

}
.fast_nav>.wrapper::after {
    content:"";
}
.fast_nav .nav{
    float: left;
    background-color: pink;
}

.fast_nav .nav >ul >li{
    float: left;

}
.fast_nav .other {
    float: right;
    background-color: teal

}


